<div class="page-header">
  <h1>Welcome to Aw<span style="color:red">air<span></h1>
  <h3>Your local news in real time.</h3>
</div>
<br>

<div class="row">

  <%= form_tag(find_locale_locales_path, method: "post", :class => "form-horizontal", role: 'form') do %>
  
  <div class="col-xs-6 col-offset-1">
  	<%= text_field_tag :zip, nil, :placeholder=>"City or Zip Code", class: "form-control"%><br>
  	<%= link_to 'All Locations', locales_path, class:'btn btn-default ' %>

  </div>
  <div class="col-xs-6">
  	<%= submit_tag "Search",  class: 'btn btn-success', style:"background-color:red" %>
  </div>
<% end %>
</div>