<div class="thumbnail thumbnail-locale">

	<a href="<%= locale_path(locale) %>" style="text-decoration:none; color: #333333;">
	<br>
		<img src="<%= locale.img_url %>" class="img-responsive logo-center" width="160" alt="No Book Cover">
		
		<div class="caption-static">
			<h4 class="resize"><%= locale.city %>, <%= locale.state %></h4>
		</div> 
	</a>
</div>